@charset "UTF-8";

*{
    /*height:100%;*/
    font-family: Arial, Helvetica, sans-serif   ;
}

body {
    background-image: linear-gradient(to right, #9FC131, #DBF227);
}
main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 3px #7d98258d;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #003c36ab  ;
}
h2{
    color: #042940;
}
    
p{
    text-align: justify;
    }
    